/*导航图标位置*/
.top-menu ul li a.gallery-bg {
    background-position:-355px -51px;
}
.top-menu ul li a.home-bg{
    background-position: -17px -51px;
}

/*contact us*/
.page-not-found{
    text-align:center;
    color: #353434;
    margin: 8em 0 5em 0;
}
.page-not-found h4{
    font-size:4.5em;
    margin-bottom: 0.5em;
}
.page-not-found h3{
    font-size: 14em;
    color:#333;
}
.page-not-found h3 label{
    color:#6EBB1F;
    font-weight:normal;
}
.page-not-found-main{
    background:#f0f0f0;
    margin-top:2em;
}
.page-not-found a{
    text-decoration:none;
    padding:1em 2em;
    font-size:1em;
    color:#fff;
    background:#6EBB1F;
    display:inline-block;
    text-align:center;
    margin-top:1em;
    transition: 0.5s all;
}
.page-not-found a:hover{
    background:#272F35;
    color:#fff;
}